body {
  margin: 0;
  font-family: "nexa bold";
  overflow: hidden;
}
/* ---------------------------registration----------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background-image: url("Background.gif");
}

.nav {
  position: fixed;
  top: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  margin-left: 80%;
  z-index: 100;
}

.form-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  overflow: hidden;
  z-index: 2;
  margin-left: 20%;
}

.login-container {
  position: absolute;
  left: 4px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}

.register-container {
  position: absolute;
  right: -520px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}
.nav-menu-btn .home-btn {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-menu-btn .home-btn:hover {
  background-color: #00688b;
}
.top {
  color: #fff;
  font-size: 20px;
}
.input-box {
  padding: 5px;
}
.input-field {
  padding: 5px;
  width: 30vh;
  height: 30px;
  border-radius: 20px;
}
.one {
  color: #f0f0f0;
}
.submit {
  border-radius: 20px;
  background-color: blue;
  font-size: large;
  cursor: pointer;
}
/* -------------------------- end ------------*/

#backgroundContainer {
  background-image: url("Background.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#socialIcons {
  position: absolute;
  top: 50px;
  right: 10px;
}
.icons {
  width: 40px;
  height: 20px;
  cursor: pointer;
  color: #ddd;
}
.social-text {
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
}

#mainTitle {
  color: white;
  margin-bottom: 20px;
}

#submain {
  color: white;
  margin-bottom: 5px;
}

#destinationInput {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 15px;
}

#inputContainer {
  position: relative;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

#inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchButton {
  padding: 13px;
  margin-top: -45px;
  margin-left: 97%;
  border-radius: 28px;
  cursor: pointer;
  color: #00688b;
}

#searchButton:hover {
  background-color: grey;
}

#suggestions-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#suggestions {
  list-style-type: none;
  padding: 0;
  white-space: nowrap;
  animation: slide 10s linear infinite;
}

#suggestions li {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  color: #f0f0f0;
  font-size: 20px;
  transition: background-color 0.3s;
}

#suggestions li:hover {
  background-color: #f0f0f0;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#sendButtonContainer {
  margin-top: 20px;
  text-align: center;
}

#sendButton {
  padding: 8px 12px;
  border: none;
  background-color: #008cba;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

#sendButton:hover {
  background-color: #fff;
}

#calendarContainer {
  margin-top: 20px;
  text-align: center;
}

#calendarInput {
  padding: 8px;
  border-radius: 20px;
  font-size: 16px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #008cba;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #destinationInput {
    margin-top: 10px;
  }

  #searchButton {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 568px) {
  #destinationInput {
    margin-top: 10px;
  }

  #searchButton {
    margin-top: -40px;
  }
}

@media only screen and (max-width: 800px) {
  #destinationInput {
    margin-top: 10px;
  }

  #searchButton {
    margin-top: -40px;
  }
}

.auth-form-container {
  background-image: url("Background.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 20px;
  border-radius: 10px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-top: 15%;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.auth-form button {
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008cba;
  color: white;
}

.auth-form button:hover {
  background-color: #00688b;
}

#loginFormContainer {
  color: #fff;
}

#loginForm {
  color: #fff;
}

#signupFormContainer {
  color: #fff;
}

#mainTitleSignup {
  margin-left: -39%;
}

#submainSignup {
  border: 2px solid green;
  font-size: 20px;
  margin-top: 5px;
}

#signupForm {
  color: #fff;
  margin-top: 5%;
}
